In [1]:
import psycopg

In [2]:
HOST     = 'localhost'
DBNAME   = 'mydbase'
USER     = 'myadmin'
PASSWORD = 'qwer1234'

In [3]:
CONNECTION = f"host={HOST} dbname={DBNAME} user={USER} password={PASSWORD}"

In [4]:
## Connect to an existing database
with psycopg.connect(CONNECTION) as conn:

    ## Create a new table
    conn.execute("""
        CREATE TABLE IF NOT EXISTS "myschema"."ex_table"(
            "num" INTEGER NOT NULL,
            "name" VARCHAR(20),
            "studentID" INTEGER,
            "address" VARCHAR(45),
            "phone" VARCHAR(45),
            CONSTRAINT ex_table_pkey PRIMARY KEY (num)
        )
    """)

    ## Insert two records into the table
    conn.execute("""INSERT INTO "myschema"."ex_table" VALUES (0, 'Park', 01, 'Seoul', '010-0000-0000')""")
    conn.execute("""INSERT INTO "myschema"."ex_table" VALUES (1, 'Choi', 01, 'Chuncheon', '010-1111-1111')""")

    ## Make the change to the database psersistent
    conn.commit()
        
    ## Open a cursor to perform database operations
    with conn.cursor() as cur:

        ## Execute a command
        cur.execute('SELECT * FROM "myschema"."ex_table"')

        ## Obtain and print data as Python objects
        record = cur.fetchone()
        while record:
            print(record)
            record = cur.fetchone() # return None if the recordset is finished

    ## Drop the table
    conn.execute('DROP TABLE "myschema"."ex_table"')
    conn.commit()

(0, 'Park', 1, 'Seoul', '010-0000-0000')
(1, 'Choi', 1, 'Chuncheon', '010-1111-1111')

In [5]:
## Connect to an existing database
with psycopg.connect(CONNECTION) as conn:

    ## Create a new table
    conn.execute("""
        CREATE TABLE IF NOT EXISTS "myschema"."ex_table2"(
            "num" INTEGER NOT NULL,
            "name" VARCHAR(20),
            "studentID" INTEGER,
            "address" VARCHAR(45),
            "phone" VARCHAR(45),
            CONSTRAINT ex_table_pkey PRIMARY KEY (num)
        )
    """)

    ## Using pipeline, insert two records into the table
    TEMPLATE_INSERT = """INSERT INTO "myschema"."ex_table2" VALUES (%s, %s, %s, %s, %s)"""
    with conn.pipeline() as p:
        conn.execute(TEMPLATE_INSERT, (0, 'Hong', 1, 'Seoul', '010-2222-2222'))
        conn.execute(TEMPLATE_INSERT, (1, 'Lee', 2, 'Incheon', '010-3333-3333'))

    ## Make the change to the database psersistent
    conn.commit()
        
    ## Open a cursor to perform database operations
    with conn.cursor() as cur:

        ## Execute a command
        cur.execute('SELECT * FROM "myschema"."ex_table2"')

        ## Obtain and print data as Python objects
        records = cur.fetchall()
        for record in records:
            print(record)
        
    ## Drop the table
    conn.execute('DROP TABLE "myschema"."ex_table2"')
    conn.commit()

(0, 'Hong', 1, 'Seoul', '010-2222-2222')
(1, 'Lee', 2, 'Incheon', '010-3333-3333')